extends ../layouts/common
block content
    h2 Create Users
    form(action="/users/create" method="POST" class="d-flex")
        label name
        input(type=" text" class="form-control w-25" name="name")
        button(class="btn btn-primary ml-2 ") create