extends ../layouts/common
block content
    .d-flex.align-items-center.container 
        form.ml-auto(action="/users/search" method="GET" class="d-flex")
            input(type="text" name="q" )
            .button(class="d-inline ml-2")
            button(id="button" class="btn btn-primary " )=title
    .boc.container
        each p in product
                .card.ml-5.mb-5.d-inline-block(style='width:13rem;position: unset;height:500px')
                    img.card-img-top(src=p.image, alt='Card image cap')
                    .card-body(style="")
                        h5.card-title(style="height:50px;")=p.name
                        p.card-text(style="height:200px")=p.description
                        a.btn.btn-primary(href='/cart/add/'+p._id) Add to cart